{% extends "base.html.twig" %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                <div class="well bs-component">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                    {{ form_errors(form) }}

                    <div class="form-group">
                        {{ form_row(form.username, {
                            'attr': {
                                'class': 'col-lg-10',
                                'placeholder': 'Nombre de usuario',
                                'name': 'username'
                                },
                            'label_attr': {'class': 'col-lg-2 control-label'}
                            })
                        }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.email, {
                            'attr': {
                                'class': 'col-lg-10',
                                'placeholder': 'Email',
                                'name': 'email'
                                },
                            'label_attr': {'class': 'col-lg-2 control-label'}
                            })
                        }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.password, {
                            'attr': {
                                'class': 'col-lg-10',
                                'placeholder': 'Contraseña',
                                'name': 'password'
                                },
                            'label_attr': {'class': 'col-lg-2 control-label'}
                            })
                        }}
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            {{ form_widget(form.send, {
                                'attr': {'class': 'btn btn-primary'}
                                })
                            }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
